html, body {
  height: 100%;
  font-family: Helvetica;
}

/*Grid system, OMG YES!*/
* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0.01em;
/*    border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/*end of grid setup*/

#pokemon-logo {
  height: 10em;
  width: auto;
}

#logo-row {
  text-align: center;
}

#search-row {
  text-align: center;
}

#page-content {

  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}

#pokemon-image {
  height: 15em;
  width:auto;
}

#nav-row {
  min-height: 5em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}

#poke-types {
  border-radius: 5px;
  height: 2em;
}

#types-list{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#types-list li {
  margin-right: auto;
  margin-left: auto;
}

#main-content {
  margin-top: 1em;
}

#pokemon-stats {
  border-radius: 30px;
  text-align: center;
  max-width: 20em;
  color: white;
}

#height-title {
  color: #ffcc03;
}

#weight-title {
  color: #ffcc03;
}

#grass-type {
  border-radius: 10px;
  background-color: green;
  min-width: 5em;
  min-height: 1.5em;
  line-height: 1.5em;
  color: white;
  margin-right: 1em;
}

#poison-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: purple;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#fire-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #ff5b02;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#water-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #4876ff;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#ice-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #8ee5ee;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#psychic-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #655870;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#bug-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #299000;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#flying-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #ff9966;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#electric-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #ffcc03;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#normal-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #a9a9a9;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#ground-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #5a3e2f;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#ground-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #242423;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

#dragon-type {
  min-height: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
  background-color: #6699ff;
  min-width: 5em;
  color: white;
  margin-right: 1em;
}

